<h1>Add Student</h1> </br>

<form action="/students/add" method="POST">
   
    <% if (errors != undefined) { %>
        <ul>
        <% errors.forEach((error) => { %>
            <li style="color: red"><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>
    
    <label>ID <input type="text" name="id"/></label> </br>
    <label>Name <input type="text" name="name"/></label> </br>
    <label>Age  <input type="text" name="age"/></label> </br>
    </br>
    <input type="submit" value="Add Student"/>
</form>
