<a href="/">Home</a>
</br>
<h1>Update Student</h1>

<form action="/students/edit/:sid" method="GET">
    <label>Name <input type="text" name="name"/></label> </br>
    <label>Age  <input type="text" name="age"/></label> </br>
    </br>
    <input type="submit"/>
</form>