<h1>Students</h1>

<a href="/">Add Student</a> </br>
<a href="/">Home</a> </br>

</br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Update</th>
    </tr>

    <% student.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
        </tr>
    <% }) %>
</table>